* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
}
.reg__form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.error__label {
    color: red;
}
.navbar {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    background: #a8eb34;
    align-items: center;
}
.nav__right {
    margin-left: auto;
}
.courses__container {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}